* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html {
        -webkit-text-size-adjust: 100%;
    }
    
    body {
        background-color: #F2F2F2;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 62.5%;
        line-height: 1.15;
    }

.footer {
    background-color: black;
    color: white;
}

/* MOBILE STYLING */

@media only screen and (max-width: 720px){
    
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .top > h1 {
        font-size: 2.5rem;
        font-weight: normal;
        text-align: center;
        margin: 5rem;
    }
    
    .top-content > h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 4rem;
        margin-bottom: 20px;
    }
    
    .top-content > h3 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0rem 4rem 2rem 4rem;
    }
    
    .top-content > p {
        text-align: center;
        font-size: 1rem;
        margin: 0rem 3rem 2rem 3rem;
        font-weight: 100;
    }
    
    .top-content > button {
        /*margin: 10px 250px 90px 250px;*/
        display: block;
        padding: 1rem 3rem;
        margin: auto;
        font-size: 1rem;
        border: 0.1rem black solid;
        background-color: rgba(255,255,255,.0);
        
    }
    
    .top-image {
        padding: 3rem 4rem 1rem 4rem
    }

    .top-image > .cityscape {
        width: 100%;
    }

    .second-section {
        background-color: black;
        padding: 10rem 4rem 2rem 4rem
    }

    .what-we-do-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }

    .what-we-do-section > h4 {
        font-size: 1.2rem;
    }

    .what-we-do-section > h3 {
        font-size: 2.8rem;
        margin-top: 2rem;
    }

    .what-we-do-section > p {
        font-size: 0.9rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    .workers h3 {
        font-size: 2.2rem;
    }

    .workers p {
        font-size: 0.9rem;
        font-weight: 300;
    }

    .third-section {
        text-align: center
    }

    .third-section h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .third-section p {
        font-size: 0.9rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
    }


    .third-section button {
        padding: 1rem 3rem;
        margin: auto;
        font-size: 1rem;
        border: 0.1rem black solid;
        background-color: rgba(255,255,255,.0);
        margin-bottom: 2rem;
    }

    .third-section span {
        font-size: 1rem;
        margin-bottom: 2rem
    }

    .worker-div img {
        display: block;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .machine {
        padding: 3rem;
    }

    .machine img {
        width: 100%;
        margin-bottom: 5rem;
    }

    .third-section img {
       display: block;
        margin: auto;
    }

    .footer {
        text-align: center;
        font-size: 0.9rem;
        padding: 4rem;
        margin-top: 5rem;
    }

    .footer h3 {
        font-size: 1.5rem;
        margin: 1.5rem 0rem 1.5rem 0rem;
    }

    .left-div p {
        padding: 0rem 3rem 0rem 3rem;
    }

}




/* TABLET STYLING */

@media only screen and (min-device-width: 720px) {

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .top > h1 {
        font-size: 3rem;
        font-weight: normal;
        text-align: center;
        margin: 5rem;
    }

    .top-div {
        padding-top: 6rem;
    }

    .top-content {
    }

    .top-content > h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 4rem;
        margin-bottom: 20px;
    }
    
    .top-content > h3 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0rem 4rem 2rem 4rem;
    }
    
    .top-content > p {
        text-align: center;
        font-size: 1rem;
        margin: 0rem 3rem 2rem 3rem;
        font-weight: 100;
    }

    .top-content > button {
        /*margin: 10px 250px 90px 250px;*/
        display: block;
        padding: 1rem 3rem;
        margin: auto;
        font-size: 1rem;
        border: 0.1rem black solid;
        background-color: rgba(255,255,255,.0)
    }

    .top-div {
        min-height: 30rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .top-image {
        min-height: 30rem;
        margin-right: 4rem;
    }

    .top-image img {
        height: 38rem;
        width: 100%;
        object-fit: cover;
    }

    
    /* SECOND SECTION */

    .second-section {
        background-color: black;
        padding: 10rem 4rem 2rem 4rem;
        margin-top: 3rem;
        padding-bottom: 8rem;
    }

    .what-we-do-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }

    .what-we-do-section > h4 {
        font-size: 1.2rem;
    }

    .what-we-do-section > h3 {
        font-size: 2.8rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .what-we-do-section > p {
        font-size: 0.9rem;
        font-weight: 300;
        margin: 0rem 10rem 3rem 10rem
    }

    .workers {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0rem 4rem 0rem 4rem
    }

    .workers div {
        margin: 0rem 1rem 0rem 1rem
    }

    .workers h3 {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }

    .workers p {
        font-size: 0.9rem;
        font-weight: 300;
    }

    
    .worker-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .left-div {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }

    .left-div h3 {
        font-size: 2rem;
    }

    .left-div p {
        font-size: 0.7rem;
        margin-top: 1rem;
        padding: 0rem 3rem 2rem 3rem;
    }

    .left-div button {
        display: block;
        padding: 1rem 3rem;
        font-size: 1rem;
        border: 0.1rem black solid;
        background-color: rgba(255,255,255,.0);
    }


    .machine {
        padding: 3rem 3rem 0rem 0rem;
    }

    .machine img {
        max-width: 100%;
    }

    .factory-div {
        text-align: center;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .factory-div img {
        display: block;
        margin: auto;
    }

    .cog-div {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .cog-div img {
        display: block;
        margin: auto;
    }

    .footer {
        padding: 4rem;
        text-align: center;
    }

    .footer h3 {
        font-size: 1.6rem;
        margin: 1rem 0rem 1rem 0rem;
    }

    .footer span {
        font-size: 0.9rem;
    }

}
