* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html {
        -webkit-text-size-adjust: 100%;
    }
    
    body {
        background-color: #F2F2F2;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 62.5%;
        line-height: 1.15;
    }

/* MOBILE STYLING */

@media only screen and (max-width: 720px){
    
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .top > h1 {
        font-size: 2.5rem;
        font-weight: normal;
        text-align: center;
        margin: 5rem;
    }
    
    .top-content > h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 4rem;
        margin-bottom: 20px;
    }
    
    .top-content > h3 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0rem 4rem 2rem 4rem;
    }
    
    .top-content > p {
        text-align: center;
        font-size: 1rem;
        margin: 0rem 3rem 2rem 3rem;
        font-weight: 100;
    }
    
    .top-content > button {
        /*margin: 10px 250px 90px 250px;*/
        display: block;
        padding: 1rem 3rem;
        margin: auto;
        font-size: 1rem;
        border: 0.1rem black solid;
        background-color: rgba(255,255,255,.0);
        
    }
    
    .top-image {
        padding: 3rem 4rem 1rem 4rem
    }

    .top-image > .cityscape {
        width: 100%;
    }

    .second-section {
        background-color: black;
        padding: 10rem 4rem 2rem 4rem
    }

    .what-we-do-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }

    .what-we-do-section > h4 {
        font-size: 1.2rem;
    }

    .what-we-do-section > h3 {
        font-size: 2.8rem;
        margin-top: 2rem;
    }

    .what-we-do-section > p {
        font-size: 0.9rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    .workers h3 {
        font-size: 2.2rem;
    }

    .workers p {
        font-size: 0.9rem;
        font-weight: 300;
    }
}




/* TABLET STYLING */

@media only screen and (min-device-width: 720px) {

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .top > h1 {
        font-size: 3rem;
        font-weight: normal;
        text-align: center;
        margin: 5rem;
    }

    .top-div {
        padding-top: 6rem;
    }

    .top-content {
    }

    .top-content > h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        margin: 4rem;
        margin-bottom: 20px;
    }
    
    .top-content > h3 {
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0rem 4rem 2rem 4rem;
    }
    
    .top-content > p {
        text-align: center;
        font-size: 1rem;
        margin: 0rem 3rem 2rem 3rem;
        font-weight: 100;
    }

    .top-content > button {
        /*margin: 10px 250px 90px 250px;*/
        display: block;
        padding: 1rem 3rem;
        margin: auto;
        font-size: 1rem;
        border: 0.1rem black solid;
        background-color: rgba(255,255,255,.0)
    }

    .top-div {
        min-height: 30rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .top-image {
        min-height: 30rem;
        margin-right: 4rem;
    }

    .top-image img {
        height: 38rem;
        width: 100%;
        object-fit: cover;
    }

    
    /* SECOND SECTION */

    .second-section {
        background-color: black;
        padding: 10rem 4rem 2rem 4rem;
        margin-top: 3rem
    }

    .what-we-do-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }

    .what-we-do-section > h4 {
        font-size: 1.2rem;
    }

    .what-we-do-section > h3 {
        font-size: 2.8rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .what-we-do-section > p {
        font-size: 0.9rem;
        font-weight: 300;
        margin: 0rem 10rem 3rem 10rem
    }

    .workers {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0rem 4rem 0rem 4rem
    }

    .workers div {
        margin: 0rem 1rem 0rem 1rem
    }

    .workers h3 {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }

    .workers p {
        font-size: 0.9rem;
        font-weight: 300;
    }

}
